<footer id="fh5co-footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-push-6 col-md-6">
				<ul class="fh5co-footer-social">
					<li><a href=""><img src="images/avatar.png" alt="Work Logo" width="40px" height="40px"
								style="border-radius:40%;"></a></li>
					<li><a href="https://www.linkedin.com/in/moronfoluwa-akintola-30b391123/">LinkedIn</a></li>
					<li><a href="https://twitter.com/fantasticfoluwa">Twitter</a></li>
					<li><a href="https://www.facebook.com/akintola.moronfoluwar">Facebook</a></li>
					<li><a href="https://instagram.com/fantasticfoluwa/">Instagram</a></li>
					<li><a href="https://github.com/foluwa">Github</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Go To Top -->
<a href="#" class="fh5co-gotop"><i class="ti-shift-left"></i></a>