<!DOCTYPE html>
<html lang="en" >
<head>   
  <title>Portfolio Page</title>
  <meta charset="utf-8">
  <meta name="description" content="Foluwa's Personal portfolio website">
  <meta name="keywords" content="Hire, Freelance, HTML, CSS, Freecodecamp">
  <meta name="author" content="Foluwa Akintola Moronfoluwa">
  <meta name="viewport" content="width=device-width" />
  <!--Social media button-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Typewriter effect-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
  <link rel="stylesheet" href="../Styles/view.css"> <!--href="../Styles/style.css"-->
    <!--bootstrap-->
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>  
</head>
<body class="container">
    <nav class="row navbar navbar-expand-md bg-dark navbar-dark fixed-top">
       
      
    <div class="col-sm-4 col-sm-push-8 bg-dark"><a href="../index.html" class="myLogo"> &lt; &#x2215; &gt;</a></div>
    <div class="col-sm-8 col-sm-pull-4 bg-dark">
      <ul style="display:flex;float:right; padding-top: 7px;list-style-type: none">
                  <li class="nav-item">
                    <a class="nav-link" href="About.html"> About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Portfolio.html"> Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Contact.html"> Contact</a>
                  </li>
          </ul>
    </div>
  </nav>

  <div>
    <div>
      <img src="../images/foludp.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="My picture" width="304" height="236" />
    </div>
  </div>

   <div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="background-color:rgb(190, 190, 190);">
      <b>MORONFOLUWA EMMANUEL</b>
      <i class="fa fa-envelope-o" style="font-size:30px;color:red"></i>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

  <div class="container" style="padding-top: 20px;">
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <b style="text-align:center">Developer Accounts</b>
        <p>
          <i href"https://github.com/Foluwa" class="fa fa-github myFonts" style="font-size:48px;"></i>
          <a href"https://codepen.io/MORONFOLUWA/"><i class="fa fa-codepen myFonts" style="font-size:48px;"></i></a>
         <a href"https://www.freecodecamp.org/moronfoluwa"><i class="fa fa-free-code-camp myFonts" style="font-size:48px;color:green"></i></a>
         <a href"https://slack.com/Foluwa"><i class="fa fa-slack myFonts" style="font-size:48px;"></i></a>
       </p>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <b style="text-align:left;">Social Media</b>
        <p>
          <a href="https://web.facebook.com/akintola.moronfoluwar"><i class="fa fa-facebook myFonts" style="font-size:48px;"></i></a>
          <a href="https://www.instagram.com/fantastic_foluwa/"><i class="fa fa-instagram myFonts" style="font-size:48px;"></i></a>
          <a href="https://twitter.com/fantasticfoluwa"><i class="fa fa-twitter myFonts" style="font-size:48px;color:rgb(8, 124, 231);"></i></a>
          <a href="https://www.linkedin.com/in/moronfoluwa-emmanuel-30b391123/"><i class="fa fa-linkedin myFonts" style="font-size:48px;color:rgb(4, 67, 97);"></i></a>
          <a href="https://plus.google.com/104841602788068718935"><i class="fa fa-google myFonts" style="font-size:48px;color:red"></i></a>
        </p>
    </div>
  </div>
</div>

  <footer class="container fixed-bottom" style="background-color: transparent;">
      <div style="text-align:center;">
        <a href="https://twitter.com/fantasticfoluwa" class="fa fa-twitter" style="font-size: 20px"></a>
        <a href="https://www.instagram.com/fantastic_foluwa/" class="fa fa-instagram" style="font-size: 20px"></a>
        <a href"https://github.com/Foluwa" class="fa fa-github" style="font-size: 20px"></a>
        <b>2018</b>
      </div>
    </footer>
  
</body>
</html>