<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050951/Static/img006_lg9vpx.jpg');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<h1>About Us</h1>
										<h2>Know more about our ministry</h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-about">
			<div class="row">
				<div class="col-md-4">
					<h3>Our Motto</h3>
					<blockquote class="dailyVerse">
						<p>&ldquo;Agressive Evangelism is our motto&rdquo;</p>
					</blockquote>
				</div>
				<div class="col-md-4">
					<h3>About RCF</h3>
					<p>The Redeemed Christian Fellowship is an Arm of Christ The Redeemers Ministries (CRM), and is present is Osun State University, Osogbo campus. We believe in empowering, impacting the society and the minds of the youth.</p>
					<p>We  instill a confidence in the society and in the minds of youth that transcends their gifts and arts into a tool that promotes forward thinking, movement and balance in their overall lives.</p>
					<p>We firmly believe that empowering the society and youth by activating their mindset through God inspiring and productive programmes is a key insight to the focusing of the societal and youth mindset towards the possibility of making impacts in a succeeding world. <h5><blockquote>We are the Habitation of Kings and Queens!</blockquote></h5></p>
				</div>
				<div class="col-md-4">
					<h3>Our Mission</h3>
					<p>Our Mission [is] to raise Gods youths on campus. Spread the gospel which is our utmost goal in earth. Raise leaders who constantly fellowship with God. To raise youth with the spirit of excellence.</p>
					<p>We are a student body, we have our head to be President of Christ Redeemer's Ministries in person of Pastor E.A Adeboye.</p>
					<p>Our Zone which is Osun Zone is headed by Pastor Kayode Alowooja. Osun State University, Osogbo chapter has a total of 30 Executives who run the affairs of the fellowship and give reports to appropriate head.</p>
					<ul class="ministries-list">
						<li><i class="icon-check"></i>Agressive Evangelism.</li>
						<li><i class="icon-check"></i>Fellowshiping in the holyghost.</li>
						<li><i class="icon-check"></i>Touching Lives.</li>
						<li><i class="icon-check"></i>Building a total man in christ</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->