<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050951/Static/img006_lg9vpx.jpg');">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-8 col-md-offset-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Contact Us</h1>
										<h2>Agressive Evangelism is our motto!</h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Contact us</h2>
					<p>RCF Auditorium, Behind Values Event Hall, Oke-Baale, Osogbo, Osun State.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-push-8 animate-box">
					<h3>Our Address</h3>
					<ul class="contact-info">
						<li><i class="icon-location4"></i>RCF Auditorium, Behind Values Event Hall, Oke-Baale, Osogbo, Osun State.</li>
						<li><i class="icon-phone3"></i>+ 234 81348 28631</li>
						<li><i class="icon-envelope-open"></i>rcfosogbo@gmail.com</li>
						<li><i class="icon-globe2"></i><a href="https://www.rcfuniosunosogbo.com">www.rcfuniosunosogbo.com</a></li>
					</ul>
				</div>
				<div class="col-md-7 col-md-pull-2 animate-box">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Send Message" class="btn btn-primary btn-modify">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-counter" class="fh5co-counters fh5co-light-grey">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center animate-box">
					<p>Agressive Evangelism is Our Motto!</p>
					</div>
			</div>
	</div><!-- END container-wrap -->