
<div id="page">
	<div class="container-wrap">
		<div id="fh5co-news">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Gallery</h2>
					<p>Checkout our beautiful Pictures.</p>
				</div>
			</div>
			<div class="row">
			{{# each gallery }} 
            	{{# each this }}
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{{this.gallery_url}}" alt=""></a>
						<div class="desc">
							<p>{{this.picDesc}}</p>
						</div>
					</div>
				</div>
				{{/each}}
            {{/each}}
			</div>
		</div>
	</div>
</div>