<style type="text/css">
	/* TO DISPLAY PLACEHOLDER IN DATE TAG */
	input[type="date"]:before {
		content: attr(placeholder) !important;
		color: #aaa;
		margin-right: 0.5em;
	}

	input[type="date"]:focus:before,
	input[type="date"]:valid:before {
		content: "";
	}
</style>


<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<div style="background-color: #56c590" id="success" class="modal modal-box" {{#if noMessages}}hidden{{/if}}>
				{{ successMsg}}
			</div>
			<ul class="slides">
				<li
					style="background-image: url('https://res.cloudinary.com/dgqzzeod9/image/upload/v1560050951/Static/img006_lg9vpx.jpg');">
					<div class="overlay"></div>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6 col-md-offset-3 text-center slider-text">
								<div class="slider-text-inner">
									<h1>Workers Registration</h1>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</aside>


	<div id="fh5co-contact">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Workers Registration</h2>
				<p>RCF Auditorium, Behind Values Event Hall, Oke-Baale, Osogbo, Osun State.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 col-md-offset-3 col-md-pull-2 animate-box">
				<div>
					<div class="text-center" style="font-size: 20px;" id="formMsg"></div><br>
					<form class="workersForm" method="POST">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="firstName" name="firstName"
										placeholder="First Name" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" id="lastName" name="lastName"
										placeholder="Last Name" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" id="gender" name="gender" required>
										<!-- <option class="selected disable">Gender</option> -->
										<option>Female</option>
										<option>Male</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" id="course" name="course" required>
										<option class="selected disable">Course</option>
										<option value="Anatomy">Anatomy</option>
										<option value="Biochemistry">Biochemistry</option>
										<option value="Chemistry">Chemistry</option>
										<option value="Civil Engineering">Civil Engineering</option>
										<option value="Computer Science">Computer Science</option>
										<option value="Electrical and Electronics Engineering">Electrical and
											Electronics Engineering</option>
										<option value="Geology">Geology</option>
										<option value="Food Science and Technology">Food Science and Technology</option>
										<option value="Industrial Chemistry">Industrial Chemistry</option>
										<option value="Mathematics">Mathematics</option>
										<option value="Mechanical Engineering">Mechanical Engineering</option>
										<option value="Medicine and Surgery">Medicine and Surgery</option>
										<option value="Nursing Science">Nursing Science</option>
										<option value="Microbiology">Microbiology</option>
										<option value="Plant Biology">Plant Biology</option>
										<option value="Physics with Electronics">Physics with Electronics</option>
										<option value="Physiology">Physiology</option>
										<option value="Public Health">Public Health</option>
										<option value="Urban and Regional Planning">Urban and Regional Planning</option>
										<option value="Zoology">Zoology</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="date" id="dob" name="dob" class="form-control"
										placeholder="Date of Birth" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="tel" name="phoneNumber" id="phoneNumber" class="form-control"
										placeholder="Phone Number e.g 08034356723" required>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="email" name="email" id="email" class="form-control"
										placeholder="Email Address" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" id="guardianName" name="guardianName" class="form-control"
										placeholder="Parent or Guardian Name" required>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="guardianNumber" id="guardianNumber" class="form-control"
										placeholder="Parent or Guardian Phone Number" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<!-- <input type="number" min="1900" max="2099" step="1" value="2016" /> -->
									<input type="Number" min="2010" max="3000" step="1" id="fellowshipYear"
										name="fellowshipYear" class="form-control"
										placeholder="Year you joined the  fellowship (e.g 2015)"  required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="Number" min="2010" max="3000" step="1" name="graduationYear"
										id="graduationYear" class="form-control" placeholder="Graduation Year" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<select class="form-control" name="psf" id="psf" required>
										<option class="selected disable">Are you a member of pastors seed?</option>
										<option>Yes</option>
										<option>No</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<select class="form-control" type="text" id="deptFellowship" name="deptFellowship"
										required>
										<option class="selected disable">Primary Department in Fellowship</option>
										<option value="Academic">Academic</option>
										<option value="Bible Study">Bible Study</option>
										<option value="Choir">Choir</option>
										<option value="Drama">Drama</option>
										<option value="Media and Publicity">Media and Publicity</option>
										<option value="Protocol">Protocol</option>
										<option value="Prayer Department">Prayer Department</option>
										<option value="Sanitation">Sanitation</option>
										<option value="Technical">Technical</option>
										<option value="Transportation">Transportation</option>
										<option value="Ushering">Ushering</option>
										<option value="Welfare">Welfare</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="hidden" name="_csrf" value="{{ csrfToken }}">
									<input type="submit" id="submitDetails" value="Submit Details"
										class="form-control btn-primary" style="background-color: #70926c;">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-counter" class="fh5co-counters fh5co-light-grey">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<p>Agressive Evangelism!</p>
			</div>
		</div>
	</div>
</div><!-- END container-wrap -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
	//AJAX TO ADD NEW WORKER INFORMATION TO THE DB
	$('.workersForm').on('submit', function (e) {
		e.preventDefault();
		$.ajax({
			url: "/registration",
			method: "POST",
			data: $('.workersForm').serialize(),
			beforeSend: function () {
				console.log("Sending...");
				$("#submitDetails").html("Submiting Details...");
			},
			success: function (res) {
				alert('Form Submitted');
				$("#submitDetails").html("Upload");
				console.log(res)
				$("#formMsg").html('<div class="alert alert-success"><p>' + res.message + '</p></div>')
			},
			error: function (err) {
				alert("Not Done")
				$("#formMsg").html('<div class="alert alert-danger"><p>Error, Details submission was not successful.</p></div>')
				console.log(err);
				$("#submitDetails").html("Upload");

			}
		})
		reset();
	})


	function reset() {
		$("#firstName").val("");
		$("#lastName").val("");
		$("#gender").val("");
		$("#course").val("");
		$("#dob").val("");
		$("#phoneNumber").val("");
		$("#email").val("");
		$("#guardianName").val("");
		$("#guardianNumber").val("");
		$("#fellowshipYear").val("");
		$("#graduationYear").val("");
		$("#psf").val("");
		$("#deptFellowship").val("");
		// $("#resetContainer").innerHTML = "";
	}


</script>