<!DOCTYPE HTML>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>RCFUniosun,Osogbo &mdash; Habitation of Kings and Queens</title>
	<link rel='manifest'   href='/manifest.json' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Redeemed Chritain Fellowship, Osogbo Campus" />
	<meta name="keywords" content="fellowships, christ,church,redeem,rcf, EAadeboye, uniosun, osun state university" />
	<meta name="author" content="rcfuniosun.com" />
	<meta name="theme-color" content="#658361">
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>



	<script src='/sw.js' type='text/javascript'></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>
    
    {{> header }}
        <div> 
            {{{body}}}
        </div>
    {{> footer }}
        
	<!-- jQuery -->
<!--  -->


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.2.0/jquery.countTo.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.compatibility.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.0/jquery.flexslider-min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/0.9.9/jquery.magnific-popup.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>

	 <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

	<script type="text/javascript">  
	var myWidget = cloudinary.createUploadWidget({
	  cloudName: 'dgqzzeod9', 
	  uploadPreset: 'rcfosogbo'}, (error, result) => { 
	    if (!error && result && result.event === "success") { 
	       console.log('Done! Here is the image info: ' + result.info.url); 
	       let url = result.info.url;
	       document.getElementById('url').value = url;
	       /*$('#cloud_img').attr('src', url)
	       $('#img, #img_lecturer, #img_exco').attr('value', url);*/
	       //console.log(url);
	       return url;
	    }
	    else {
	      console.log(result.info.public_id)
	    }
	  }
	)

	document.getElementById("upload_widget").addEventListener("click", function(){
	    myWidget.open();
	  }, false);
	</script> 

	<script type="text/javascript">  
	//FOR PICTURES IN GALLERY
	var myWidget = cloudinary.createUploadWidget({
	  cloudName: 'dgqzzeod9', 
	  uploadPreset: 'rcfosogbo'}, (error, result) => { 
	    if (!error && result && result.event === "success") { 
	       console.log('Done! Here is the image info: ' + result.info.url); 
	       let url = result.info.url;
	       document.getElementById('gallery_url').value = url;
	       return url;
	    }
	    else {
	      console.log(result.info.public_id)
	    }
	  }
	)

	document.getElementById("gallery_upload_widget").addEventListener("click", function(){
	    myWidget.open();
	  }, false);
	</script> 
	<script>
		  if ('serviceWorker' in navigator) {
		    console.log("Will the service worker register?");
		    navigator.serviceWorker.register('/sw.js')
		      .then(function(reg){
		        console.log("Yes, it did.");
		      }).catch(function(err) {
		        console.log("No it didn't. This happened: ", err)
		      });
		  }
	</script>
	</body>
</html>

