/* GLOBAL STYLES */
body, html {
    height: 100%;
}
body {
    padding-top:100px;
    background-size:cover;
    background-image: url("../images/backgroundImage.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/* LOCAL STYLES */
.myLogo {
  font-size: 30px;
  color: yellow;
}
.mynavLinks {
  font-size: 20px;
}
  /* DEMO-SPECIFIC STYLES */
.typewriter{
    padding-top: 2%;
}
  .typewriter h1 {
    color: #fff;/*#fff;*/
    font-family: monospace;
    font-size: 20px;
    padding-top: 5px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap;  /*Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */  /* .15em*/
    animation: 
      typing 3.5s steps(30, end), /* 3.5s*/
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
@media only screen and (max-width: 750px) {
    .typewriter h1 {
        white-space:pre;
    }
}