/*GLOBAL STYLES*/
body {
    background: rgb(84, 178, 240); /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, rgb(84, 178, 240), rgb(210, 231, 235));
}

.nav-link a:hover { 
    background-color: rgb(137, 140, 155);
}

img {
	margin-top: 90px;
}

.myLogo {
    font-size: 30px;
    color:rgb(226, 157, 9);
    text-decoration: none;
}

.flex-container {
	display: flex;
    flex-direction: column;

}
.flex-container > a {
	background-color: #f1f1f1;
  	width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.right-page{
	float: left;
}
.myFonts {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 5px;
    font-size: 100px;
    font-weight: 100px;
}
